.input {
  &__label {
    display: block;
  }

  &__control {
    color: var(--color-primary-light);
    font-size: 18px;
    padding: 16px 24px;
    width: 100%;
    border: 2px solid var(--color-secondary-light);
    border-radius: 32px;
    background-color: transparent;
    transition: background-color 0.2s;

    @media screen and (min-width: $bp-tablet) {
      padding: 18px 32px;
    }

    &:focus {
      background-color: var(--color-secondary-light);
      outline: none;
    }

    &::placeholder {
      color: var(--color-primary-light);
      font-size: 13px;
    }
  }
}

  

 

  

  