@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-cyrillic_latin-regular.woff2') format('woff2');
    
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2');
}

:root {
    --color-brand-dark: #011C44;
    --color-brand-light: #2B7FFF;
    --color-primary-light: #FFFFFF;
    --color-primary-dark: #000000;
    --color-secondary-dark: #4A4A4A;
    --color-secondary-light: #747272;
}

/* Base */
*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: var(--color-brand-dark);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.17;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
}

a {
    display: inline-block;
  }

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

.section {
    padding: 48px 0;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.accent {
    color: var(--color-brand-light);
}

/* Button */
.button {
    padding: 16px 32px;
    color: var(--color-primary-light);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.17;
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 32px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

/* Link */
.header-link {
    color: var(--color-brand-dark);
}

.footer-link {
    color: var(--color-primary-light);
    font-size: 16px;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand-light);
    font-weight: 700;
}

.section-title {
    max-width: 529px;
    margin-bottom: 48px;
    color: var(--color-brand-dark);
    font-family: 'Play', sans-serif;
    font-size: 64px;
    font-weight: 700;
}

/* Header */
.header-container {
    display: flex;
    gap: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

.header-menu {
    display: flex;
    gap: 56px;
    flex-grow: 1;
    justify-content: center;
}

.header-icons {
    display: flex;
    gap: 32px;
}

.header-icon {
    fill: var(--color-brand-dark);
}

/* Hero section */
.hero-section {
    padding: 122.52px 0 126.48px 106px;
    background-image: url('../images/hero-background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero-title {
    margin-bottom: 40px;
    color: var(--color-brand-light);
    font-family: 'Play', sans-serif;
    font-size: 140px;
    font-weight: 700;
    line-height: 0.8;
}
.hero-text {
    margin-bottom: 16px;
}

.hero-button {
    margin-bottom: 14px;
}

.hero-advice {
    margin-bottom: 0;
    color: var(--color-secondary-dark);
    font-size: 12px;
    line-height: 1.5;
}


/* Representation section */
.representation-section{
    padding-top: 0;
    padding-bottom: 88px;
}

.representation-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;   
}

.representation-content {
    display: flex;
    max-width: 709px;
    flex-direction: column;
    gap: 40px;
}

 .representation-title {
    margin: 0;
} 

.representation-text {
    margin: 0;
    font-size: 22px;
    line-height: 1.7;
}

 /* .representation-text-one {
    max-width: 700px;
}  */

 /* .representation-text-two {
    max-width: 649px;
 }  */

 .representation-accent {
    font-weight: 600;
}

.representation-image {
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.2);
}

/* Advantages section */
.advantages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages-section {
    padding-top: 88px;
}

.advantage-title {
    text-align: center;
}

.advantages-list {
    display: flex;
    gap: 56px;
}

.advantages-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 32px;
    /* flex-basis: calc((100% - 112px) / 3); */
    max-width: 316px;
    border: 1px solid var(--color-primary-light);
    border-radius: 32px;
    box-shadow: 0px 4px 4px 0px #A8C6F561;
    
}

.advantages-text {
    color: var(--color-primary-dark);
    line-height: 1.3;
}

/* Offers section */
.offers-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.offers-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.offers-item {
    flex-basis: calc((100%-40px)/3) ;
    background-image: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, var(--color-brand-dark) 101.39%);
}

.offers-image {
    border-radius: 120px 4px 120px 4px;

}

.offers-title {
    color: var(--color-primary-light);
    font-size: 22px;
    line-height: 1.18;
    text-align: center;
    max-width: 152px;
}

/* Carousel */
.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    flex-shrink: 0;
    fill: var(--color-brand-dark);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-brand-dark);
    cursor: pointer;
}

.carousel-button:hover {
    background-color: var(--color-brand-light);
    border: 1px solid var(--color-primary-light);
    fill: var(--color-primary-light);
}

/* Contacts section */
.contacts-section {
    padding-bottom: 94px;
}

.contacts-container {
    display: flex;
    gap: 32px;
    
}

.contacts-title {
    margin: 0px auto 48px auto;
    text-align: center;
}

.contacts-map {
    flex-shrink: 0;
    border: none;
    border-radius: 32px;
}

.contacts-advice {
    color: var(--color-primary-light);
    font-size: 22px;
}

.contacts-button {
    margin-bottom: 8px;
}

 .contacts-copyright {
    color: var(--color-secondary-light);
    font-size: 12px;
    line-height: 1.5;
}
.contacts-copyright span {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: var(--color-brand-dark);
    background-image: url('../images/footer-background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 56px 0;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-menu, 
.footer-logo {
  flex-grow: 1;
  gap: 20px;
}

.address-list, 
.address-info {
  flex-grow: 1;
  gap: 20px;
}

.footer-logo {
    flex-shrink: 0;
}

.footer-icon {
    fill: var(--color-primary-light);
}

.footer-copyright {
    color: var(--color-secondary-light);
    font-size: 13px;
}