.contacts-section {
    padding-top: 20px;

    @media screen and (min-width: $bp-tablet) {
        padding-bottom: 94px;
      }

    &__container {
        display: flex;
        flex-direction: column-reverse;
        gap: 24px;
        
        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 32px;
          }
    }
    
    &__map {
        flex-shrink: 0;
        margin: 0 -24px;
        padding: 0;
        height: 232px;
        border: none;

        @media screen and (min-width: $bp-tablet) {
            margin: 0;
            width: 320px;
            height: 434px;
            border-radius: 32px;
          }

          @media screen and (min-width: $bp-desktop) {
            margin: 0;
            width: 600px;
            height: 500px;
            border-radius: 32px;
          }
    }
    
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-brand-dark);
        background-image: url('../images/background-contact.png');
        background-repeat: no-repeat;
        max-width: 430px;
        height: 434px;
        margin: 0 auto;
        border: 1px solid var(--color-brand-dark);
        border-radius: 32px;
        padding: 42px 24px;
        overflow-y: auto;

        @media screen and (min-width: $bp-tablet) {
            margin: 0;
            padding: 48px 56px;
        }

        @media screen and (min-width: $bp-desktop) {
            height: 500px;
        }
    }

    &__form-field {
        margin-bottom: 16px;
    }

}








 