.footer {
    margin-bottom: 0;
    background-color: var(--color-brand-dark);
    background-image: url('../images/footer-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 32px 90px 66px;

    @media screen and (min-device-pixel-ratio: 2),
           (min-resolution: 192dpi),
           (min-resolution: 2dppx) {
           background-image: url('../images/footer-background@2x.png');
           }
    
           @media screen and (min-width: $bp-desktop) {
            padding: 56px 0;
    } 


    &::after {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: block;
            position: absolute;
            width: 200px;
            height: 150px;
            bottom: 0;
            right: 0;
            background-image: url('../images/photo-medicines.png');
            background-repeat: no-repeat;
            content: '';
        }
   }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
        position: relative;

        @media screen and (min-width: $bp-desktop) {
            flex-direction: row;
            align-items: flex-start;
            text-align: left;
        }
    }

    &__list {
        display: none;
    
        @media screen and (min-width: $bp-desktop) {
            max-width: 192px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        } 
    }

    &__nav,
    &__address {
       display: flex;
       flex-direction: column;


       @media screen and (min-width: $bp-desktop) {
        flex-direction: row;
        flex-basis: 50%;
    }
    }

    &__nav {
        gap: 42px;

        @media screen and (min-width: $bp-desktop) {
            gap: 20px;
        }
    }

    &__address {
       gap: 16px;

       @media screen and (min-width: $bp-desktop) {
           gap: 50px;
       }
    } 

    &__menu, 
    &__logo {
       flex-grow: 1;
       gap: 16px 20px;  
    }
 
    &__menu {
       display: flex;
       flex-direction: column; 
    }

    &__address-list, 
    &__address-info {
       display: flex;
       flex-direction: column;
       flex-grow: 1;
       gap: 8px;

       @media screen and (min-width: $bp-desktop) {
            gap: 16px;
       }
    } 

    &__logo {
        flex-shrink: 0;
    }

    &__link {
        color: var(--color-primary-light);
        font-size: 14px;

        @media screen and (min-width: $bp-tablet) {
            font-size: 16px;
        }
    }

    &__icons {
        display: flex;
        height: 42px;
        justify-content: center;
        gap: 20px;

        @media screen and (min-width: $bp-desktop) {
            justify-content: flex-start;
            gap: 24px;
        }
    }

    &__list {
        display: none;
    
        @media screen and (min-width: $bp-desktop) {
            display: flex;
        }
    }
    
    &__icon {
        fill: var(--color-primary-light);
        transition: fill 0.2s;

        &:hover {
            fill: var(--color-brand-light);
        }
    }
    
    &__copyright {
        color: var(--color-secondary-light);
        font-size: 13px;
        text-align: center;
        margin-bottom: 0;

        @media screen and (min-width: $bp-desktop) {
            text-align: start;
        }
    }
}




