.representation-section {
    padding-top: 0;
    padding-bottom: 44px;
    

    @media screen and (min-width: $bp-desktop) {
        padding-bottom: 88px;
    }

    &__container {
        display: flex;
        gap: 40px;  
    }

    &__content {
        display: flex;
        max-width: 709px;
        flex-direction: column;
        padding-top: 0;
        gap: 24px;
        position: relative;

        @media screen and (min-width: $bp-tablet) {
            padding-top: 40px;
            gap: 40px;
        }

        &::after {
            position: absolute;
            width: 40px;
            height: 40px;
            bottom: -15%;
            right: 5%;
            background-image: url('../images/Star-large-tablet.png');
            background-repeat: no-repeat;
            content: '';
            animation: twinkle 0.5s infinite, transform 1s infinite;
            animation-delay: 1s;

            @media screen and (min-width: $bp-desktop) {
                display: none;
            }
        }
    }

    &__title {
        max-width: 529px;
        color: var(--color-brand-dark);
        font-family: Play, sans-serif;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 0;

        @media screen and (min-width: $bp-tablet) {
            font-size: 64px;
            font-weight: 700;
        }
    } 
    
    &__text {
        margin: 0;
        font-size: 18px;
        line-height: 1.17;

        @media screen and (min-width: $bp-tablet) {
            font-size: 22px;
            line-height: 1.7;
        }
    }

    &__images {
        display: flex;
        max-width: 500px;
        height: 300px;
        align-items: flex-start;
        row-gap: 40px;
        position: relative;

        @media screen and (min-width: $bp-desktop) {
            height: 695px;
        }
        

        &::before {
            display: none;

            @media screen and (min-width: $bp-desktop) {
                display: block;
                position: absolute;
                width: 40px;
                height: 40px;
                top: 36px;
                right: -60%;
                background-image: url('../images/Star-medium.png');
                background-repeat: no-repeat;
                content: '';
                animation: twinkle 2s infinite, transform 2s infinite;
                animation-delay: 1s;
            }
        }
        
        &::after {
            display: none;
            
            @media screen and (min-width: $bp-desktop) {
                display: block;
                position: absolute;
                width: 64px;
                height: 64px;
                bottom: 40%;
                left: 35%;
                background-image: url('../images/Star-lardge.png');
                background-repeat: no-repeat;
                content: '';
                animation: twinkle 1s infinite, transform 2s infinite;
                animation-delay: 1s;
            }  
        }
    }

    &__image {
        max-width: 327px;
        height: 327px;
        border-radius: 50%;
        box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.2);
        /* object-fit: cover; */
    }
}

.image-before {
    display: none;

    @media screen and (min-width: $bp-desktop) {
        display: block;
        position: relative;
    }

    &::after {
        position: absolute;
        width: 16px;
        height: 16px;
        bottom: 40px;
        right: -50%;
        background-image: url('../images/Star-small.png');
        background-repeat: no-repeat;
        content: '';
        animation: twinkle 2s infinite, transform 2s infinite;
        animation-delay: 0.5s;
    }
} 

.image-after {
    display: none;

    @media screen and (min-width: $bp-desktop) {
        display: block;
        position: absolute;
        align-self: flex-end;
        left: 60%;
    }
}