:root {
    --color-brand-dark: #011C44;
    --color-brand-light: #2B7FFF;
    --color-primary-light: #FFFFFF;
    --color-primary-dark: #000000;
    --color-secondary-dark: #4A4A4A;
    --color-secondary-light: #747272;

}

/* Base */
body {
    color: var(--color-brand-dark);
}

ul {
    list-style-type: none;
}

footer {
    background-color: var(--color-brand-dark);
}

.accent {
    color: var(--color-brand-light);
}

/* Button */
.button {
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 32px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

/* Link */
.header-link {
    color: var(--color-brand-dark);
}

.footer-link {
    color: var(--color-primary-light);
}

.link:hover {
    color: var(--color-brand-light);
}

/* Hero section */
.hero-title {
    color: var(--color-brand-light);
}
.hero-advice {
    color: var(--color-secondary-dark);
}


/* Representation section */
.section-title {
    color: var(--color-brand-dark);
}

/* Advantages section */

.advantages {
    color: var(--color-primary-dark);
}

/* Contacts section */
.contacts-advice {
    color: var(--color-primary-light);
}
 .confidentiality {
    color: var(--color-secondary-light);
}
